.category-preview-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;

  .preview-link {
    margin-bottom: 10px;
  }

  .category-preview-title {
    font-size: 28px;
    text-transform: uppercase;
    cursor: pointer;
  }

  .preview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
  }
}
